body,
html,

* {
    font: size 10px;
    font-family: Inter;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 90vw;
    background-color: rgb(247, 235, 241);
    margin: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 20px;
}

h1{
    text-align: center;
    font-weight: 800;
    margin: 20px;
    padding: 20px;
}

h2 {
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.card {
    width: 30%;
    height: auto;
    background-color: white;
    border: 1px solid hsl(0, 0%, 50%);
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
}

.card .description {
    padding: 5px;
    text-align: center;

}

.card:hover {
    border: 1px solid hsl(0, 0%, 20%);

}

.card img {
    width: 100%;
}

.card .price {
    text-align: center;
}

.button {
    color: rgb(247, 235, 241);
    padding: 0;
    margin: 5px;
    text-align: center;
}

.button:hover {
    border: 1px solid hsl(0, 0%, 20%);

}

@media screen and (max-width: 800px) {
    .card {
        width: 100%;
    }

    .container {
        flex-direction: column;
    }
}