body,
html,

h1 {
    border: 3px solid black;
    border-radius: 20px;
}

* {
    font: size 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    width: 30%;
    height: 500px;
    background-color: white;
    margin: 20px auto;
}

.container {
    width: 90vw;
    background-color: beige;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}